@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<BOROMOTORS.Data.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<section id="reviews">
    <h2>Мнения на клиенти</h2>
@foreach (var item in Model) {
    <div class="review-card">
        <img src="@item.ImageUrl" alt="@item.Author" class="profile-image">
        <div class="review-content">
            <p class="review-text">"@item.Description"</p>
            <strong>@item.Author</strong>
                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                   
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-action="Create">Create</a>
                }

        </div>
    </div>
}
    </section>